body {
	font-family: 'Inconsolata', monospace;
	width:100%;
	position:relative;
	font-color:#969c9b;
}
p{
	padding-left:25px;
}
.large {
	padding:20px;
}
a{
	font-color:#969c9b;
	text-decoration: none;
}
a:hover{
	text-decoration:underline;
}
.breifing {
	padding:20px;
}